<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBa2QdYIMMM8sYieqhJM7K6_2CUgMzkN0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>886077325287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.influmeet</string>
	<key>PROJECT_ID</key>
	<string>influagency-bddba</string>
	<key>STORAGE_BUCKET</key>
	<string>influagency-bddba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886077325287:ios:f55a09771f0c34d7580742</string>
</dict>
</plist>